/*form*/
form 
{
    width: 100%;
    display: flex;
    margin: 4px;
    flex-direction: center;
    align-items: center;
}

input
{
    margin: 1.5rem;
    border: none;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 05);
}
input::placeholder
{
    color: #aaa;
}